<ul class="tab">
    <li class="tabItem" auto-focus>
        <a href="#/main" class="active">
            <img src="" alt="">
            <span class="icon-text">首页</span>
        </a>
    </li>
    <li class="tabItem" auto-focus>
        <a href="#/category" >
            <img src="" alt="">
            <span class="icon-text">分类</span>
        </a>
    </li>
    <li class="tabItem" auto-focus>
        <a href="#/show" >
            <img src="" alt="">
            <span class="icon-text">兔子秀</span>
        </a>
    </li>
    <li class="tabItem" auto-focus>
        <a href="#/shopcart" >
            <img src="" alt="">
            <span class="icon-text">购物车</span>
        </a>
    </li>
    <li class="tabItem" auto-focus>
        <a href="#/userInfo" >
            <img src="" alt="">
            <span class="icon-text">我的</span>
        </a>
    </li>
</ul>